[Unit]
Description=Check GitHub for Inkcredible Pens updates

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=inkcredible-auto-update.service

[Install]
WantedBy=timers.target
